
.footer{
    
    background: #000000;
    padding: 10px 20px;
    margin: 0;
}

.header {
    background: #621074d9;
    color: #ffff;
    padding: 10px 20px;
    margin: 0;
    
    
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    
}

a:link{
    color: #000000;
}

a:visited{
    color: #000000;
}



.layout-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    padding: 20px;
    
}

@media screen {
    .navigation-menu ul {
        
        display: none;
        position: absolute;  
        flex-direction: column;
        width: 25%;
        height: 100%;
        background-color: #ffffff;
     
    }
    .navigation-menu li {
        text-align: center;
        margin: 0;

    }
    .navigation-menu li a{
        text-decoration: none;
        display: block;
        width: 100%;

    }

    .navigation-menu.expanded ul {
        display: block;
    }
}